apiVersion: v1
kind: Service
metadata:
  name: calculator-service
spec:
  type: NodePort
  selector:
    app: calculator
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30080
